* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
  margin: auto;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

input[type=text], input[type=url] {
  margin-left: 1em;
}

form button, input[type=submit] {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  margin: 0 0.25em;
  width: initial;
}

form button:hover, input[type=submit]:hover {
  background-color: lavender;
}

label {
  display: flex;
  align-items: baseline;
}

input[name=delete] {
  background-color: red;
  color: white;
  padding: 0.25em;
  margin: initial;
}

input[name=install] {
  background-color: #4caf50;
}

form .buttons {
  display: flex;
}