<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Quick Launcher" />
  <title>Quick Launcher!</title>
  <link rel="manifest" id="manifest">

  <link id="favicon" rel="icon" href="https://shortcut.cool/images/ic_launcher-96.png" type="image/png" />
  <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
  <header>
    <h1>shortcut.cool</h1>
    <p>A simple demo. Create your own personalised shortcuts and add them to your homescreen.</p>
  </header>

  <main id=main>
    Add a little more detail.
  </main>
</body>

</html>