<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Quick Launcher" />
  <title>Quick Launcher!</title>
  <link rel="manifest" id="manifest">

  <link id="favicon" rel="icon" href="https://shortcut.cool/images/ic_launcher-96.png" type="image/png" />
  <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
  <header>
    <h1><a href="/">shortcut.cool</a></h1>

  </header>

  <main id=main>
    <h2>What is shortcut.cool?</h2>
    <p>Chrome on Android has the ability to create homescreen icons that have context menus (long-press on the icon)
      designed to give you quick access to parts
      of the app. For example, Twitter has "new Tweet" and "new Direct Message". This tool allows you to create an icon
      that has your own links.</p>
    <p>Shortcut.cool is a simple demo that let's you create your own personalised shortcut icons and install them to
      your homescreen.</p>

    <h2>Why?</h2>
    <p>I love .new domains, and some of the things that you can do with them (i.e, <a
        href="https://docs.new">docs.new/</a>).</p>
    <p>My life seems to revolve around creating new things, be it an email, a document, a tweet...</p>
    <p>I wanted the ability for people to be able to create a list of their own actions.</p>
    <p>I merged the ideas together.</p>

    <h2>What browsers and OS's does this work on?</h2>
    <p>Right now it's only tested on Chrome on Android. I'm told it works on Windows (Chrome and Edge).</p>
    <h2>Who was shortcut.cool created by?</h2>
    <p>
      <a href="https://paul.kinlan.me/">Paul Kinlan</a>.
    </p>
  </main>
</body>

</html>